<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - AdminBullion</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/common.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Georgia" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    
</head>
<body>
    
    <div class="top-header common-bg w-100 d-inline-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="top-cover">
                        <i class="fa fa-user-circle-o color-white icon-font" aria-hidden="true"></i>
                        <span class="color-white sm-font">Welcome</span>
                        <strong class="color-white sm-font userName">@Context.Session.GetString("userName")</strong>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="top-cover text-center">
                        <strong class="color-white sm-font">Active Users: <span class="activeUsers"></span></strong>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="top-cover text-right">
                        <div class="dropdown">
                                <a asp-controller="Login" asp-action="Logout" class="btn bg-transparent color-white py-0">
                                    <span><i class="fa fa-sign-out" aria-hidden="true"></i></span> Logout
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-header">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @{
                    var adminData = Context.Session.GetString("adminData")?.ToString();
                }
                <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Symbol" asp-action="List">Symbol</a>
                        </li>
                        <li class="nav-item @(adminData?.Split('|')[0] == "False" ? "hidden" : "")">
                            <a class="nav-link" asp-controller="Coin" asp-action="List">Coin</a>
                        </li>
                        <li class="nav-item @(adminData?.Split('|')[4] == "False" ? "hidden" : "")">
                            <a class="nav-link" asp-controller="Update" asp-action="List">Update</a>
                        </li>
                        <li class="nav-item @(adminData?.Split('|')[5] == "False" ? "hidden" : "")">
                            <a class="nav-link" asp-controller="Bank" asp-action="List">Bank</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Contact" asp-action="List">UserDetails</a>
                        </li>
                        <li class="nav-item @(adminData?.Split('|')[6] == "False" ? "hidden" : "")">
                            <a class="nav-link" asp-controller="Feedback" asp-action="List">FeedbackList</a>
                        </li>
                        <li class="nav-item @(adminData?.Split('|')[3] == "False" ? "hidden" : "")">
                            <a class="nav-link" asp-controller="Otr" asp-action="List">OTRList</a>
                        </li>
                        <li class="nav-item @(adminData?.Split('|')[2] == "False" ? "hidden" : "")">
                            <a class="nav-link" asp-controller="Kyc" asp-action="List">KYC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Marketwatch" asp-action="List">MarketWatch</a>
                        </li>
                        <li class="nav-item @(adminData?.Split('|')[7] == "False" ? "hidden" : "")">
                            <a class="nav-link" asp-controller="ClientRate" asp-action="List">ClientRate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Setting" asp-action="List">Setting</a>
                        </li>
                        <li class="nav-item @(adminData?.Split('|')[8] == "False" ? "hidden" : "")">
                            <a class="nav-link" asp-controller="Slider" asp-action="List">Slider</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"></script>
    <script src="~/adminjs/common.js"></script>
    @RenderBody()
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
</body>
</html>
