@model IEnumerable<SL_Bullion.Models.Kyc>

@{
    ViewData["Title"] = "KYC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table-cover">
    <div class="container-fluid">
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th class="common-bg thead-font wten">Name</th>
                        <th class="common-bg thead-font wten">Mobile</th>
                        <th class="common-bg thead-font wten">CompanyName</th>
                        <th class="common-bg thead-font wten">Date</th>
                        <th class="common-bg thead-font wten">Data</th>
                        <th class="common-bg thead-font wten">Document</th>
                        <th class="common-bg thead-font wten">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="content">
                                    <p>@Html.DisplayFor(modelItem => item.name)</p>
                                </div>
                            </td>
                            <td>
                                <div class="content">
                                    <p>@Html.DisplayFor(modelItem => item.mobile)</p>
                                </div>
                            </td>
                            <td>
                                <div class="content">
                                    <p>@Html.DisplayFor(modelItem => item.companyName)</p>
                                </div>
                            </td>
                            <td>
                                <div class="content">
                                    <p>@Html.DisplayFor(modelItem => item.modifiedDate)</p>
                                </div>
                            </td>
                            <td class="wfive">
                                <div class="content">
                                    <form asp-action="generateCsv" asp-route-id="@item.id">
                                        <button type="submit">
                                            <i class="fa fa-file-text text-primary" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                            <td class="wfive">
                                <div class="content">
                                    <a href="@item.url">
                                        <i class="fa fa-file-archive-o text-primary" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </td>
                            <td class="wfive">
                                <div class="content">
                                    <form asp-action="Delete" asp-route-id="@item.id">
                                        <button onclick="return confirmDelete()">
                                            <i class="fa fa-trash-o text-danger" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>